<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">Mussum Ipsum, cacilds vidis litro abertis. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.Viva Forevis aptent taciti sociosqu ad litora torquent.Mé faiz elementum girarzis, nisi eros vermeio.</p>
            
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
                <ul>
                    <li><i class="fa-solid fa-phone"></i> xx xxxx-xxxx</li>
                    <li><i class="fa-solid fa-envelope"></i> email@email.com</li>
                    <li><i class="fa-brands fa-whatsapp"></i> xx x xxxx-xxxx</li>
                </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados.
    </section>

</footer>